@tailwind base;
@tailwind components;
@tailwind utilities;


/* DARK (default) */
/* .theme-dark {
  --bg: #000000;
  --card: #111111;
  --text: #ffffff;
  --accent: #22c55e;
} */

[data-theme="dark"] {
  --bg: #000;
  --card: #111;
  --text: #fff;
  --border: #222;
  --accent: #22c55e;
}

[data-theme="terminal"] {
  --bg: #000;
  --card: #001a12;
  --text: #00ff9c;
  --border: #003d2a;
  --accent: #00ff9c;
}

/* MINIMAL */
.theme-minimal {
  --bg: #f9fafb;
  --card: #ffffff;
  --text: #111827;
  --border: #e5e7eb;
  --accent: #6366f1;
}

@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

